body {
  background-color: #FDFDFD;
  font-family: "Lucida Console", Monaco, monospace;
}

.techs {
  font-size: 12px;
}

.techs-title {
  font-weight: bold;
}

.content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.project-title {
  font-size: 1.2em;
}
